@model ListFairPageVM
@{
    ViewBag.Title = "ListFairs";
}

<h2>ListFairs</h2>
@if (Model.Fairs.Count == 0)
{
    <p> Herhangi bir Fuar bulunamadı.</p>
    <header class="panel-heading">
        @Html.ActionLink("Fuar Ekle", "AddFair", null, new { @class = "btn btn-success" })
    </header>

}
else
{
    <header class="panel-heading">
        @Html.ActionLink("Fuar Ekle", "AddFair", null, new { @class = "btn btn-success" })
    </header>
    <div class="panel-body">
        <div class="adv-table">
            <table cellpadding="0" border="0" class="display table table-bordered" id="hidden-table-info">
                <thead>
                    <tr>
                        <th> Fuar Adı</th>
                        <th> Giriş Kapısı</th>
                        <th> Çıkış Kapısı</th>
                        <th> Başlangıç Tarihi</th>
                        <th> Bitiş Tarihi</th>
                        <th> Lokasyonu </th>
                        <th> Durumu</th>
                        <th> Oluşturulma Tarihi</th>
                        <th> Güncelleme Tarihi</th>
                        <th> Silme Tarihi</th>
                        <th> Güncelle</th>
                        <th> Sil</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (SuperFairPureVM item in Model.Fairs)
                    {
                        <tr class="grandeX">
                            <td> @item.FairName</td>
                            <td>@item.EntranceDoor</td>
                            <td>@item.ExitDoor</td>
                            <td>@item.StartDate</td>
                            <td>@item.ExpiryDate</td>
                            <td>@item.Location</td>
                            <td>@item.DataStatus</td>
                            <td>@item.CreatedDate</td>
                            <td>@item.UpdatedDate</td>
                            <td>@item.DeletedDate</td>
                            <td> @Html.ActionLink("Güncelle", "UpdateFair", new { id = item.ID }, new { @class = "btn btn-warning" })</td>
                            <td>@Html.ActionLink("Sil", "DeleteFair", new { id = item.ID }, new { @class = "btn btn-danger" })</td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>

    <div>
        <a href="http://localhost:50423/SuperAdmin/Home/Index" class="btn btn-primary">Ana Sayfa</a>
    </div>

}

