@model ListCompanyPageVM
@{
    ViewBag.Title = "ListCompanies";
}

<head>
    <style>
        input[type=text] {
            width: 130px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-position: 10px 10px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            transition: width 0.4s ease-in-out;
        }

            input[type=text]:focus {
                width: 100%;
            }
    </style>
</head>
<body>
    <form id="searchForm">
        <input type="text" id="searchInput" name="search" placeholder="search...">
        <button type="submit">Ara</button>
        <button type="button" onclick="resetSearch()">Sıfırla</button>
    </form>
</body>
<br />
<br />
<header class="panel-heading">
    @Html.ActionLink("Şirket ekle", "AddCompany", null, new { @class = "btn btn-primary" })
</header>

<div class="panel-body">
    <div class="adv-table">
        <table cellpadding="0" border="0" class="display table table-bordered" id="hidden-table-info">
            <thead>
                <tr>
                    <th> Şirket Adı </th>
                    <th> Şirketin Telefonu</th>
                    <th> Şirketin Email Adresi</th>
                    <th> Şirketin Adresi</th>
                    <th> Şehir</th>
                    <th> Ülke</th>
                    <th> Şirket Tipi</th>
                    <th> Şirket Sektörü</th>
                    <th class="hidden-phone"> Durumu</th>
                    <th class="hidden-phone"> Yaratılma Tarihi</th>
                    <th class="hidden-phone"> Güncelleme Tarihi</th>
                    <th class="hidden-phone"> Silme Tarihi</th>
                    <th class="hidden-phone"> Sil</th>
                    <th class="hidden-phone"> Güncelle</th>
                </tr>
            </thead>
            <tbody>
                @foreach (SuperCompanyPureVM item in Model.Companies)
                {
                    <tr class="grandeX">
                        <td>@item.CompanyName</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.EMail</td>
                        <td>@item.Address</td>
                        <td>@item.City</td>
                        @if (item.CountryName == null)
                        {
                            <td>Ülkesi belirtilmemiştir.</td>
                        }
                        else
                        {
                            <td>@item.CountryName</td>
                        }
                        @if (item.CompanyTypeName == null)
                        {
                            <td>Şirket tipi belirtilmemiştir.</td>
                        }
                        else
                        {
                            <td>@item.CompanyTypeName</td>
                        }
                        @if (item.SectorName == null)
                        {
                            <td>Şirketin sektörü belirtilmemiştir.</td>
                        }
                        else
                        {
                            <td>@item.SectorName</td>
                        }
                        <td>@item.DataStatus</td>
                        <td>@item.CreatedDate</td>
                        <td>@item.UpdatedDate</td>
                        <td>@item.DeletedDate</td>
                        <td>@Html.ActionLink("Sil", "DeleteCompany", new { id = item.ID }, new { @class = "btn btn-warning" })</td>
                        <td>@Html.ActionLink("Güncelle", "UpdateCopmany", new { id = item.ID }, new { @class = "btn btn-danger" })</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function resetSearch() {
        document.getElementById('searchInput').value = '';
        filterTable('');
    }

    function filterTable(searchValue) {
        var table = document.getElementById('hidden-table-info');
        var rows = table.getElementsByTagName('tr');

        for (var i = 0; i < rows.length; i++) {
            var companyRow = rows[i];
            var companyName = companyRow.getElementsByTagName('td')[0].innerText;

            if (companyName.toLowerCase().includes(searchValue.toLowerCase())) {
                companyRow.style.display = '';
            } else {
                companyRow.style.display = 'none';
            }
        }
    }

    document.getElementById('searchForm').addEventListener('submit', function (event) {
        event.preventDefault();
        var searchValue = document.getElementById('searchInput').value;
        filterTable(searchValue);
    });
</script>


