@model AddUpdateEmployeePageVM

@{
    ViewBag.Title = "AddEmployee";
}

<h2>Add Employee</h2>

@using (Html.BeginForm())
{
    <div>
        <div class="col-sm-12">
            <section class="panel">
                <header class="panel-heading">
                    Add Employee
                </header>
                <div class="form-group">
                    <label class="col-sm-2">
                        First Name
                    </label>
                    <div>
                        @Html.TextBoxFor(x => x.Employe.FirstName, new { @class = "form-control-genislik" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">
                        Last Name
                    </label>
                    <div>
                        @Html.TextBoxFor(x => x.Employe.LastName, new { @class = "form-control-genislik" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">
                        Email
                    </label>
                    <div>
                        @Html.TextBoxFor(x => x.Employe.Email, new { @class = "form-control-genislik" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">
                        Contact Number
                    </label>
                    <div>
                        @Html.TextBoxFor(x => x.Employe.ContactNumber, new { @class = "form-control-genislik" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">
                        TR ID
                    </label>
                    <div>
                        @Html.TextBoxFor(x => x.Employe.TrID, new { @class = "form-control-genislik" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">
                        Report To
                    </label>
                    <div>
                        @Html.TextBoxFor(x => x.Employe.ReportTo, new { @class = "form-control-genislik" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">
                        Address
                    </label>
                    <div>
                        @Html.TextBoxFor(x => x.Employe.Address, new { @class = "form-control-genislik" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">
                        User Name
                    </label>
                    <div>
                        @Html.TextBoxFor(x => x.Employe.UserName, new { @class = "form-control-genislik" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">
                        Password
                    </label>
                    <div>
                        @Html.PasswordFor(x => x.Employe.Password, new { @class = "form-control-genislik" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2">
                        Employee Role
                    </label>
                    <div>
                        @Html.DropDownListFor(x => x.Employe.EmployeeRoleID, new SelectList(Model.EmployeeRoles, "ID", "TitleName"), "Select", new { @class = "form-control-genislik" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">
                        &nbsp;
                    </div>
                    <div class="col-sm-10">
                        <button class="btn btn-primary">
                            Add
                        </button>
                    </div>
                </div>
            </section>
        </div>
    </div>
}
