@model ListEmployeePageVM

@{
    ViewBag.Title = "ListEmployees";
}

<h2>ListEmployees</h2>
<header >
    @Html.ActionLink("Employee Ekle","AddEmployee",null, new { @class="btn btn-success"});
</header>

<table class="table">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Contact Number</th>
            <th>Address</th>
            <th>TrID</th>
            <th>Email</th>
            <th>Report To</th>
            <th>Data Status</th>
            <th>Created Date</th>
            <th>Updated Date</th>
            <th>Deleted Date</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (SuperEmployeePureVM employee in Model.Employees)
        {
            <tr>
                <td>@employee.ID</td>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.ContactNumber</td>
                <td>@employee.Address</td>
                <td>@employee.TrID</td>
                <td>@employee.Email</td>
                <td>@employee.ReportTo</td>
                <td>@employee.DataStatus</td>
                <td>@employee.CreatedDate</td>
                <td>@employee.UpdatedDate</td>
                <td>@employee.DeletedDate</td>
                <th>@Html.ActionLink("Sil","DeleteEmployee", new { id=employee.ID}, new { @class="btn btn-danger"})</th>
                <th>@Html.ActionLink("Güncelle","UpdateEmployee", new { id=employee.ID}, new { @class="btn btn-warning"})</th>
            </tr>
        }
    </tbody>
</table>


