@model ListSectorPageVM
@{
    ViewBag.Title = "ListSectors";
}

<h2>ListSectors</h2>

@if (Model.Sectors.Count == 0)
{
    <p>Herhangi bir sektör bulunamadı.</p>
    <header class="panel-heading">
        @Html.ActionLink("Sektör ekle", "AddSector", null, new { @class = "btn btn-primary" })
    </header>
}
else
{
    <header class="panel-heading">
        @Html.ActionLink("Sektör ekle", "AddSector", null, new { @class = "btn btn-primary" })
    </header>

    <div class="panel-body">
        <div class="adv-table">
            <table cellpadding="0" border="0" class="display table table-bordered" id="hidden-table-info">
                <thead>
                    <tr>
                        <th>Sektör Adı </th>
                        <th class="hidden-phone"> Durum </th>
                        <th class="hidden-phone">  Yaratma Tarihi  </th>
                        <th class="hidden-phone">  Güncelleme Tarihi  </th>
                        <th class="hidden-phone">  Silme Tarihi  </th>
                        <th class="hidden-phone">  Güncelle  </th>
                        <th class="hidden-phone">  Sil </th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (SuperSectorPureVM item in Model.Sectors)
                    {
                        <tr class="grandeX">
                            <td class="hidden-phone">@item.SectorName</td>
                            <td class="hidden-phone">@item.DataStatus</td>
                            <td class="hidden-phone">@item.CreatedDate</td>
                            <td class="hidden-phone">@item.UpdatedDate</td>
                            <td class="hidden-phone">@item.DeletedDate</td>

                            <td class="hidden-phone">@Html.ActionLink("Güncelle", "UpdateSector", new { id = item.ID }, new { @class = "btn btn-warning" })</td>

                            <td class="hidden-phone">
                                @Html.ActionLink("Sil", "DeleteSector", new { id = item.ID }, new
                       { @class = "btn btn-danger" })
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

}

<br />
<br />
<br />
<div>
    <a href="http://localhost:50423/SuperAdmin/Home/Index" class="btn btn-primary">Ana Sayfa</a>
</div>


