@model Project.MVCUI.Areas.SuperAdmin.Data.SuperAdminPageVMs.ListSectorPageVM

@{
    ViewBag.Title = "Sector List";
}

<h1>Sector List</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Sector Name</th>
            <th>Created Date</th>
            <th>Updated Date</th>
            <th>Deleted Date</th>
            <th>Data Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sector in Model.Sectors)
        {
            <tr>
                <td>@sector.ID</td>
                <td>@sector.SectorName</td>
                <td>@sector.CreatedDate</td>
                <td>@sector.UpdatedDate</td>
                <td>@sector.DeletedDate</td>
                <td>@sector.DataStatus</td>
            </tr>
        }
    </tbody>
</table>

